@import 'variables.less';

header {
  color: #eee;
  background-color: hsl(200, 80%, 10%); 
  font-size: 2em; 
  text-align: center;
  margin-left: -270px;
  padding-top: 2em;
  overflow: hidden;
}

@media @narrow {
  header {
    margin: 0 -1rem;
  }
}

.fx {
  position: absolute;
  top: 1rem;
  left: 50%;
  font-size: 6em;
  line-height: 1;
  margin: 0;
  font-style: italic;
  font-weight: 300;
  font-family: Times, serif;  
  z-index: 0;
  opacity: .5;
  padding: 2rem;
  transform: translateX(-300px) skew(-15deg);
  background: linear-gradient(
     hsla(50, 80%, 50%, 0.9),
     hsla(20, 100%, 50%, 0.9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -1rem;
}

h1 {
  position: relative;
  font-weight: 400;
  z-index: 10;
  text-align: center;
  margin: 3rem auto 1rem;
  background-image: linear-gradient( 
    hsla(300, 100%, 50%, 1),
    hsla(0, 80%, 50%, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  position: relative;
  text-align: center;
  margin: 2rem auto;
  font-weight: 400; 
  background-image: linear-gradient( 
    hsla(300, 100%, 50%, 1),
    hsla(0, 80%, 50%, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro { 
  font-weight: 300;  
  text-align: center;
  margin: 3em auto;
}

