@import (inline) 'node_modules/prismjs/themes/prism.css';
@import 'fx.less';

.dek {
  color: #eee;
  background-color: hsl(200, 80%, 10%); 
  font-size: 2em; 
  text-align: center;
  margin: auto;
  padding-top: 2em;
}

p {
  font-family: "Lato";
}

h1 { 
  text-align: center;
  margin: auto;
  padding-top: 2em;
  background:
    -webkit-linear-gradient(
      hsla(300, 100%, 50%, 1), 
      hsla(0, 80%, 50%, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  white-space: normal;
  font-family: "Lato";
}

h2 {
  font-family: "Lato";
  text-align: center;
  margin: auto;
  padding-top: ;
  white-space: normal;
  font-weight: 400;  
  background: -webkit-linear-gradient(right, #ff0ae2, crimson);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro { 
  font-weight: 300;  
  text-align: center;
  margin: 3em auto;
}

.container {
  margin: auto;
  padding: 1.2em;
  max-width: 30em;
  border-bottom: 1px solid hsl(30, 100%, 50%);
}


.box {
  height: 200px; 
  width: 200px;
  margin: .6em;
  display: inline-block;
}

.box-heading {
  margin: .6em;
  display: inline-block;
  vertical-align: top;
  text-align: left; 
}

.box-text {
  margin: .6em;
  display: inline-block;
  vertical-align: top;
  text-align: left; 
}

.code { 
  background-color: initial;
  margin-bottom: 0;
}

.skid {
  color: #884ed9;
  background-color: #eee;
  padding: .3em;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 400;
}

