@import 'variables.less';
@import 'fx.less';

.rotate-demo {
  display: flex;
  flex-flow: row wrap;
}

.rotate-demo > div {
  flex: 1 1 300px;
}

.rotate-demo .gradient {
  height: 100px; 
  width: 100px;
}

.image-demo {
  position: relative;
  max-width: @textWidth !important;
}

.animate-demo .container {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.animate-demo-two {
  max-width: @textWidth;
  height: 20em;;
  position: relative;
  overflow: hidden;
  color: white;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.animate-demo-two .words {
  max-width: initial;
  position: relative;
}


article article {
  margin: auto;
  padding: 1.2em;
  max-width: 30em;
  border-bottom: 1px solid hsl(30, 100%, 50%);
}


article article .gradient {
  height: 200px; 
  width: 200px;
  margin: .6em;
}

.box-heading {
  border: .1px solid grey;
  background-color: #eee;
  padding: .5rem;
  color: crimson;
  vertical-align: top;
  border-radius: .5em;
  font-family: monospace;
  display: inline-block;
  vertical-align: top;
  text-align: left; 
}

.box-text {
  margin: .6em;
  display: inline-block;
  vertical-align: top;
  text-align: left; 
}
// How to use
// ----------
.gradient.fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}


// so that the margin on stuff is included in the background when they add to
// the <article>
body > .gradient {
  overflow: hidden;
}

