@import (inline) 'node_modules/prismjs/themes/prism.css';

@textWidth: 40rem;
@textColor: #333;

body {
  font-family: ingra, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: @textColor;
  padding-bottom: 3rem;
}

@media (min-width: 1000px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 14px;
  }
}

nav {
  position: absolute;
  top: 0;
  font-family: museo-sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 1rem;
}

nav > a {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.2em;
}

nav ul {
  list-style: none;
  padding: 0;
  padding-left: 0.5rem;
}

nav > ul > li {
  margin-top: 0.3em;
}

nav ul ul {
  font-weight: 300;
}

@media (max-width: 500px) {
  nav {
    display: none;
  }
}

nav a {
  text-decoration: none;
  color: #555;
}

nav ul ul a {
  color: #888;
}

nav a:hover {
  color: @textColor;
}

a {
  color: hsl(152, 82%, 40%);
}
a:visited {
  color: hsl(152, 82%, 20%);
}

h1 { 
  font-weight: bolder;
  font-style: small ;
  font-size: 2.5em;
}

h1, h2 {
  max-width: @textWidth;
  margin: 1rem auto;
  padding: 0 1rem;
  font-family: museo-sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (max-width:600px) {
  h2 {
    padding: 10px;
    font-size: 2rem;
  }
}

h2 {
  font-weight: 400;
  color: white; 
  background-color: hsl(152, 100%, 45%);
  margin-top: 3rem;
  padding: 0.5rem 1rem;
}

.subheading {
  color:  #01E57B;
  font-weight: bold;
  font-size: 2em;
  padding-bottom: 20px ;
  margin: auto;
  text-align: center;
}

.dropcap {
  float: left;
  font-size: 5em;
  padding-right: .05em;
  display: inline-block;
  line-height: .85;
}

@media (max-width: 600px) {
  p {
    padding: 0 20px;
    width:100%;
    font-family: "Helvetica Neue", sans-serif;
    line-height: 2em;
  }
}

p {
  max-width: @textWidth;
  line-height: 1.4;
  padding: 0 1rem;
  margin: 1rem auto;
}

.text-width {
  padding: 0 1rem;
  max-width: @textWidth;
  margin: auto;
}

figure {
  margin: 1rem auto;
  max-width: 50rem;
}

// ugh
.strong {
  font-weight: bold;
}
.em {
  font-variant: italic;
}

.code {
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  background-color: #ddd;
  padding: 0.1em 0.35em;
  font-size: 0.95em;
  border-radius: 0.25em;
}


.abbr {
  font-size: 0.95em;
}

aside.sidebar {
  max-width: @textWidth;
  margin: auto;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

ul, ol, table {
  max-width: @textWidth;
  margin: auto;
  padding: 0 1rem;
}

ul, ol {
  padding-left: 3rem;
}

pre {
  white-space: pre-wrap !important;
  max-width: calc(@textWidth - 2rem);
  margin: auto !important;
}


// Table
// ---------

table td {
  vertical-align: top;
  padding-bottom: 1rem;
}
table td:first-child {
  font-weight: 800;
  padding-right: 1rem;
}





// Gallery
// ---------

figure.gallery {
  display: flex;
  flex-flow: row wrap;
}

figure.gallery [x-cp-background-image] {
  width: 100%;
  flex: 1 1 auto;
}

figure.gallery .row [x-cp-background-image]:not(:last-child) {
  margin-right: 0.5rem;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin-bottom: 0.5rem;
}

figure.gallery .double-wide {
  flex-grow: 2;
  flex-shrink: 0.5;
}

.column {
  flex-flow: column nowrap;
}

figure figcaption {
  flex: 0 0 auto;
  width: 100%;
}

