@import (inline) 'node_modules/prismjs/themes/prism.css';
@import 'variables.less';
@import 'nav.less';

body {
  font-family: @ingra;
  color: @textColor;
  background: white;
  padding: 0 1rem 3rem @navWidth;
}

@media @narrow {
  body {
    padding: 0 1rem;
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 18px;
  }
}


h1, h2, h3, h4, h5, h6 {
  font-family: @museo;
  max-width: @textWidth;
  margin: 1rem 0;
}

h1 { 
  font-weight: 400;
  font-size: 2.5em;
}

// green subheadings
h3 {
  font-weight: 400;
  max-width: calc(@textWidth + 2rem);
  color: white; 
  background-color: @headerGreen;
  margin: 3rem -1rem 1rem;
  padding: 0.5rem 1rem;
}


p {
  max-width: @textWidth;
  line-height: 1.4;
}

.text-width {
  max-width: @textWidth;
}

figure {
  width: 100%;
  max-width: @textWidth;
  margin: 1rem 0;
  border-left: 3px solid @headerGreen;
}

figcaption {
  font-size: 0.9rem;
  padding: 0.5rem 0 0.5rem 1rem;
}









// Inline
// ------

a {
  color: @linkGreen;
}

a:hover,
a:visited {
  color: @linkVisitedGreen;
}

p code {
  font-family: @monospace;
  background-color: #ddd;
  padding: 0.1em 0.35em;
  font-size: 0.95em;
  border-radius: 0.25em;
}

abbr {
  font-size: 0.95em;
}

button {
  font-size: 0.8em;
  display: block;
  padding: 0.8em;
  margin: 0.5em;
  border-radius: 0.2em;
  border: 1px solid;
  text-align: center;
  background: #eee;
  outline: none;
  cursor: pointer;
  user-select: none;
}

button:hover {
  background: #999;
}

button.selected {
  color: white;
  background-color: hsl(152, 100%, 40%);
  border: 1px solid hsla(152, 100%, 20%, 1);
}










aside.sidebar {
  max-width: @textWidth;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

ul, ol, table {
  max-width: @textWidth;
}

ul, ol {
  padding-left: 3rem;
}

li {
  margin: 0.5rem 0;
}

blockquote {
  max-width: @textWidth;
  margin: 1rem 0;
  padding-left: 2rem;
  border-left: 3px solid @headerGreen;
}

pre {
  white-space: pre-wrap !important;
  max-width: @textWidth;
}


// Table
// ---------

table td {
  vertical-align: top;
  padding-bottom: 1rem;
}
table td:first-child {
  font-weight: 800;
  padding-right: 1rem;
}





// Gallery
// ---------

figure.gallery {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

figure.gallery [x-cp-background-image] {
  width: 100%;
  flex: 1 1 auto;
}

figure.gallery .row [x-cp-background-image]:not(:last-child) {
  margin-right: 0.5rem;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin-bottom: 0.5rem;
}

figure.gallery .double-wide {
  flex-grow: 2;
  flex-shrink: 0.5;
}

.column {
  flex-flow: column nowrap;
}

.clear {
  clear: both;
}

img.theme {
  float: left;
  clear: left;
  width: 180px;
}

html[data-url="/docs/themes"] {

  h2 {
    clear: both;
    padding-top: 5rem;
  }

  svg.bird {
    width: 200px;
    margin-right: 1rem;
    float: left;
  }

  svg.bird.pigeon {
    transform: scale(0.9);
  }

  @media (max-width: 600px) {
    svg.bird {
      width: 100px;
    }
  }

}



@media @narrow {

  h2 {
    font-size: 2rem;
  }

  figure, table, blockquote, .text-width, pre, p, h1, h2, h3, h4, h5, h6 {
    margin-left: auto !important;
    margin-right: auto !important;
  }

}


