@import 'variables.less';

nav.docs-nav {
  position: absolute;
  left: 0;
  width: 250px;
  font-family: museo-sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 1rem;
}

nav.docs-nav > a {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.2em;
}

nav.docs-nav ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav.docs-nav ul ul {
  padding-left: 0.5rem;
}

nav.docs-nav li {
  margin: 0;
}

nav.docs-nav > ul > li {
  margin-top: 0.3em;
}

nav.docs-nav ul ul {
  font-weight: 300;
}

nav.docs-nav a {
  text-decoration: none;
  color: #555;
}

nav.docs-nav ul ul a {
  color: #888;
}

nav.docs-nav a:hover {
  color: @textColor;
}


// reveal for mobile
nav.docs-nav .reveal {
  display: none;
}

@media @narrow {

  nav.docs-nav {
    position: relative;
    font-size: 1.2em;
    margin: 1rem 0;
  }

  nav.docs-nav .links {
    height: 0;
    transition: height 0.3s ease-out;
    overflow: hidden;
  }

  nav.docs-nav.expanded .links {
    height: auto;
  }

  nav.docs-nav .reveal {
    display: block;
    font-size: 1.3em;
    user-select: none;
    cursor: pointer;
    margin-bottom: 0.5rem;
  }

  nav.docs-nav .reveal svg {
    vertical-align: middle;
    transform: rotate(90deg);
    transition: transform 0.3s ease-out;
  }

  nav.docs-nav.expanded .reveal svg {
    transform: none;
  }

}

