<nav class=docs-nav>

  <div class=reveal>
    Table of Contents
    <svg class=arrow preserveAspectRatio="none" width=12 viewBox="0 0 100 40" xmlns="http://www.w3.org/2000/svg">
      <polygon points="0,0 100,0 50,40"/>
    </svg>
  </div>

  <ul class=links>

    <li><a href=/docs>Introduction</a>

    <li><a href=/docs/quick-start>Quick Start</a></li>

    <li><a href=/docs/text>Text</a>
      <ul>
        <li><a href=/docs/text#classes>Styling Content</a></li>
        <li><a href=/docs/text#links>Creating Links</a></li>
        <li><a href=/docs/text#elements>Semantic Elements</a></li>
        <li><a href=/docs/text#style>Changing Style Sheets</a></li>
        <li><a href=/docs/text#whitespace>Whitespace</a></li>
        <li><a href=/docs/text#drag>Drag and Drop</a></li>
        <li><a href=/docs/text#urls>Choosing Great URLs</a></li>
        <li><a href=/docs/text#icons>Share Buttons and Icons</a></li>
        <li><a href=/docs/text#metadata>Importance of Metadata</a></li>
        <li><a href=/docs/text#date>Publication Date</a></li>
        <li><a href=/docs/text#nesting>Nesting Content</a></li>
        <li><a href=/docs/text#preview>Live Preview</a></li>
        <li><a href=/docs/text#notes>Adding Notes</a></li>
      </ul>
    </li>

    <li>
      <a href=/docs/images>Images</a>
      <ul>
        <li><a href=/docs/images#upload>Uploading Images</a></li>
        <li><a href=/docs/images#size>Sizing Images</a></li>
        <li><a href=/docs/images#cover>Cover Image</a></li>
        <li><a href=/docs/images#caption>Adding Captions</a></li>
        <li><a href=/docs/images#text>Adding Text</a></li>
        <li><a href=/docs/images#css>Positioning with CSS</a></li>
        <li><a href=/docs/images#crop>Responsive Cropping</a></li>
        <li><a href=/docs/images#holy-grail>Holy Grail Layout</a></li>
        <li><a href=/docs/images#fallback>Unsupported Browsers</a></li>
        <li><a href=/docs/images#raw>Using Raw Images</a></li>
      </ul>
    </li>

    <li><a href=/docs/multimedia>Multimedia</a></li>

    <li>
      <a href=/docs/themes>Codex Themes</a>
      <ul>
        <li><a href=/docs/themes/how-to>How to Use</a></li>
        <li><a href=/docs/themes/schema>Codex Schema</a></li>
        <li><a href=/docs/themes/demo>Demo</a></li>
        <li><a href=/docs/themes/pigeon>Pigeon</a></li>
        <li><a href=/docs/themes/raven>Raven</a></li>
        <li><a href=/docs/themes/heron>Heron</a></li>
        <li><a href=/docs/themes/toucan>Toucan</a></li>
      </ul>
    </li>

    <li><a href=/docs/advanced>Advanced Topics</a></li>

    <li><a href=/docs/fleurons>Fleurons</a></li>

    <li>
      <a href=/docs/fx>FX</a>
      <ul>
        <li><a href=/docs/fx/transition>Transition</a></li>
        <li><a href=/docs/fx/sticky>Sticky</a></li>
        <li><a href=/docs/fx/dimmer>Dimmer</a></li>
        <li><a href=/docs/fx/fixed>Fixed</a></li>
        <!-- <li><a href=/docs/fx/parallax>Parallax</a></li> -->
        <li><a href=/docs/fx/gradients>Gradients</a></li>
      </ul>
    </li>

    <li>
      <a href=/docs/html>HTML Reference</a>
      <ul>
        <li><a href=/docs/html#block>Block Elements</a></li>
        <li><a href=/docs/html#inline>Inline Elements</a></li>
      </ul>
    </li>

<!-- 
    <li>
      <a href=/docs/api>API</a>
      <ul>
        <li><a href=/docs/api/dom>Dom</a></li>
      </ul>
    </li>
-->

  </ul>

</nav>
