<nav class=docs>

  <div class=reveal>
    Table of Contents
    <svg class=arrow preserveAspectRatio="none" width=12
      viewBox="0 0 100 40" xmlns="http://www.w3.org/2000/svg">
      <polygon points="0,0 100,0 50,40"/>
    </svg>
  </div>

  <div class=container>

    <a href=/>
      <svg width=50 version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 180 90">
        <path d="M24.8,69.4l-5-3.5c-2.2-1.9-3.4-4.7-3.4-7.6V11.6l0,0C17,10.6,23,9.4,23,14v21.5l12.4,3.4V11.7 L22.1,0L3.9,13.1v54.8C3.9,66.4,17,81.7,17,81.7s17.5-12.7,17.5-17L24.8,69.4z"/>
        <path d="M71.2,0c0,0,4.1,2,4.1,6.9v68.1c0,4.8-4.1,6.7-4.1,6.7h28.5l-2.6,0c3.4-0.1,10.1-1.5,10.1-6.3 V7.3c0-6.8-6.6-7.3-6.6-7.3H71.2z M94.8,67.3c0,2.8-2.3,4.9-4.9,4.9c-0.7,0-1.4,0.3-2.1,0V10.1c0.7-0.3,1.4-0.5,2.1-0.5 c2.6,0,4.9,2.1,4.9,4.9V67.3z"/>
        <path d="M149.7,81.7h-42.5c0,0,4.1-1.9,4.1-6.7V6.9c0-4.8-4.1-6.9-4.1-6.9h27c0,0,9,0.3,9,7.7v28.7 l-12.4-4.1v-21c0-3.2-7.2-4.5-7.2-4.5l0.1,29.3l9.4,2.5l3.5,0.8l-3.1,3.5l-2.3-0.6c-3.8-1-7.5,1.9-7.5,5.8l0,23.5 c0.7,0.3,1.4,0.5,2.2,0.5c2.6,0,4.9-2.1,4.9-4.9V49.9l12.4-8v31.3C143.3,74.5,143.6,81.7,149.7,81.7z"/>
        <path d="M59.2,81.7c5.6,0,12-5,12-10.6V7.5C71.2-0.5,57,0,57,0L39.5,13.1v58c0,5.6,4.6,10.6,10.2,10.6 H59.2z M54.7,72.2H52l0-61.5c2.4-2.3,6.8-0.6,6.8,2.7v54.4C58.8,70,57,72.2,54.7,72.2z"/>
        <path d="M173.5,35.3l-3.6,3.3l0,0l3.6,3.3c1.5,1.4,2.6,3.4,3.3,5.5c0.6,1.5,0.9,3,0.9,4.4v25.3 c0,1.7,0.8,3.4,2.2,4.4l0.2,0.1h-14.3V51.8c0-2.5-0.9-4.7-2.7-6.6c-2,2-3.5,3.7-3.5,6.6v29.8c0,0-12.2-1.4-12.2-9.2V51.8 c0-3.3,1.5-7.2,4.2-9.6l3.2-3.3l-4.5-4c-2.7-2.4-2.8-6.3-2.9-9.6V4.7c0-2-4.9-4.7-4.9-4.7h17.3v25.4c0,2.4,1.5,4.5,3.3,6.4 c1.8-1.9,3.3-4,3.3-6.4V3.2c0-1.8,1.4-3.2,3.2-3.2H180c-1.1,0.9-2.5,2.2-2.5,3.5v21.8C177.5,28.6,176.1,33,173.5,35.3z"/>
      </svg>
    </a>

    <a href=/docs>Editor</a>
    <div class=section>

      <a href=/docs/quick-start>Quick Start</a>
      <div class=internal>
        <a href=/docs/quick-start#start>Start</a>
        <a href=/docs/quick-start#headline>Headline</a>
        <a href=/docs/quick-start#preview>Preview</a>
        <a href=/docs/quick-start#images>Images</a>
        <a href=/docs/quick-start#captions>Captions</a>
        <a href=/docs/quick-start#inline>Inline Tags</a>
        <a href=/docs/quick-start#pullquotes>Pull Quotes</a>
        <a href=/docs/quick-start#note>Editor's Note</a>
        <a href=/docs/quick-start#style>Style Sheet</a>
        <a href=/docs/quick-start#publish>Publish</a>
      </div>

      <a href=/docs/text>Text</a>
      <div class=internal>
        <a href=/docs/text#classes>Styling Content</a>
        <a href=/docs/text#links>Creating Links</a>
        <a href=/docs/text#elements>Semantic Elements</a>
        <a href=/docs/text#nesting>Nesting Content</a>
        <a href=/docs/text#drag>Drag and Drop</a>
        <a href=/docs/text#assets>Changing Style Sheets</a>
        <a href=/docs/text#icons>Share Buttons and Icons</a>
        <a href=/docs/text#metadata>Importance of Metadata</a>
        <a href=/docs/text#urls>Choosing Great URLs</a>
      </div>

      <a href=/docs/images>Images</a>
      <div class=internal>
        <a href=/docs/images#upload>Uploading</a>
        <a href=/docs/images#size>Setting Size</a>
        <a href=/docs/images#text>Adding Text</a>
        <a href=/docs/images#crop>Responsive Cropping</a>
        <a href=/docs/images#holy-grail>Holy Grail Layout</a>
        <a href=/docs/images#raw>Using Raw Images</a>
      </div>

      <a href=/docs/multimedia>Multimedia</a>
      <div class=internal>
        <a href=/docs/multimedia#video>Video</a>
        <a href=/docs/multimedia#mobile>Mobile Video</a>
        <a href=/docs/multimedia#audio>Audio</a>
      </div>

      <a href=/docs/html>HTML Reference</a>
      <div class=internal>
        <a href=/docs/html#block>Block Elements</a>
        <a href=/docs/html#inline>Inline Elements</a>
      </div>
  
    </div>


    <a href=/docs/themes>Themes</a>
    <div class=section>

      <a href=/docs/themes/how-to-use>How To Use</a>
      <div class=internal>
        <a href=/docs/themes/how-to-use#share>Share Menu</a>
        <a href=/docs/themes/how-to-use#images>Sizing Images</a>
        <a href=/docs/themes/how-to-use#captions>Text On Images</a>
        <a href=/docs/themes/how-to-use#grafs>Paragraphs</a>
        <a href=/docs/themes/how-to-use#sticky>Position Sticky</a>
        <a href=/docs/themes/how-to-use#grid>Photo Grid</a>
        <a href=/docs/themes/how-to-use#aspect>Image Shapes</a>
        <a href=/docs/themes/how-to-use#table>Tables</a>
      </div>

      <a href=/docs/themes/schema>Codex Schema</a>
      <a href=/docs/themes/demo>Demo</a>
      <a href=/docs/themes/pigeon>Pigeon</a>
      <a href=/docs/themes/owl>Owl</a>
      <a href=/docs/themes/heron>Heron</a>
      <a href=/docs/themes/raven>Raven</a>
      <a href=/docs/themes/toucan>Toucan</a>
    </div>


    <a href=/docs/fx>Effects</a>
    <div class=section>
      <a href=/docs/fx/fleurons>Fleurons</a>
      <a href=/docs/fx/transition>Transition</a>
      <a href=/docs/fx/sticky>Sticky</a>
      <a href=/docs/fx/dimmer>Dimmer</a>
      <a href=/docs/fx/fixed>Fixed</a>
      <a href=/docs/fx/gradients>Gradients</a>
    </div>

  </div>

</nav>
