<nav>

  <a href=/docs>Documentation</a>

  <ul>
    <li><a href=/docs/quickstart>Quickstart</a></li>

    <li><a href=/docs/text>Text</a></li>
    <ul>
      <li><a href=/docs/text>Styling Content</a></li>
      <li><a href=/docs/text>Creating Links</a></li>
      <li><a href=/docs/text>Semantic Elements</a></li>
      <li><a href=/docs/text>Codex Schema</a></li>
      <li><a href=/docs/text>Changing Style Sheets</a></li>
      <li><a href=/docs/text>Whitespace</a></li>
      <li><a href=/docs/text>Drag and Drop</a></li>
      <li><a href=/docs/text>Choosing Great URLs</a></li>
      <li><a href=/docs/text>Share Buttons and Icons</a></li>
      <li><a href=/docs/text>Importance of Metadata</a></li>
      <li><a href=/docs/text>Publication Date</a></li>
      <li><a href=/docs/text>Nesting Content</a></li>
      <li><a href=/docs/text>Live Preview</a></li>
      <li><a href=/docs/text>Adding Notes</a></li>
    </ul>

    <li><a href=/docs/html>HTML Reference</a></li>
    <ul>
      <li><a href=/docs/html>Block Elements</a></li>
      <li><a href=/docs/html>Inline Elements</a></li>
    </ul>

    <li><a href=/docs/images>Images</a></li>
    <ul>
      <li><a href=/docs/images>Uploading Images</a></li>
      <li><a href=/docs/images>Sizing Images</a></li>
      <li><a href=/docs/images>Cover Image</a></li>
      <li><a href=/docs/images>Adding Captions</a></li>
      <li><a href=/docs/images>Adding Text</a></li>
      <li><a href=/docs/images>Positioning with CSS</a></li>
      <li><a href=/docs/images>Responsive Cropping</a></li>
      <li><a href=/docs/images>Holy Grail Layout Example</a></li>
      <li><a href=/docs/images>Unsupported Browsers</a></li>
      <li><a href=/docs/images>Using Raw Images</a></li>
    </ul>

    <li><a href=/docs/multimedia>Multimedia</a></li>

    <li><a href=/docs/themes>Codex Themes</a></li>
    <ul>
      <li><a href=/docs/themes/how-to>How to Use</a></li>
      <li><a href=/docs/themes/demo>Demo</a></li>
      <li><a href=/docs/themes/pigeon>Pigeon</a></li>
      <li><a href=/docs/themes/raven>Raven</a></li>
      <li><a href=/docs/themes/heron>Heron</a></li>
    </ul>

    <li><a href=/docs/advanced>Advanced Topics</a></li>

  </ul>

  <a href=/docs/fx>FX</a>
  <ul>
    <li><a href=/docs/fx/transition>Transition</a></li>
    <li><a href=/docs/fx/sticky>Sticky</a></li>
    <li><a href=/docs/fx/gradients>Gradients</a></li>
    <li><a href=/docs/fx/fleurons>Fleurons</a></li>
  </ul>

</nav>
