
#docs {
  overflow: hidden;

  @import 'index.less';

  font-family: @ingra;
  background: white;
  color: @textColor;
  padding-left: 270px;
  line-height: 1.4;
  

}

.scoped {
  overflow: hidden;
}

