@import 'variables.less';

html body {
  padding-bottom: 0;
}

#docs {
  overflow: hidden;
  font-family: @ingra;
  color: @textColor;
  background: white;

  font-family: @ingra;
  background: white;
  color: @textColor;
  padding-left: 270px;
  line-height: 1.4;
  
  @import 'index.less';
}

article > .scoped {
  overflow: hidden;
  padding-bottom: 4rem;
}

