@textWidth: 40rem;
@textColor: #333;
@navWidth: 270px;

@narrow:  ~'(max-width: 900px)';

@headerGreen: hsl(152, 100%, 45%);
@linkGreen: hsl(152, 100%, 40%);
@linkVisitedGreen: hsl(152, 82%, 20%);

@museo: museo-sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
@ingra: ingra, "Helvetica Neue", Helvetica, Arial, sans-serif;

@monospace: Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
