
<p>h1.hed</p>
<div class="scoped">
  <h1 class="hed">
    Headless Body in Topless Bar
  </h1>
</div>


<p>p.dek</p>
<div class="scoped">
  <p class="dek">
    Voice from moon: “Eagle has landed”
  </p>
</div>


<p>address.byline</p>
<div class="scoped">
  <address class="byline">
    Silence Dogood
  </address>
</div>


<p>time.pubdate</p>
<div class="scoped">
  <div class="time pubdate">
    <time class="pubdate" datetime="2016-11-04T00:02:28.679Z">November 4, 2016</time>
  </div>
</div>

<p>.intro</p>
<div class="scoped">
  <p class="intro">
    Throughout the history of humanity, we have been extending our range until it is now planet-wide, covering all parts of Earth’s surface and reaching to the bottom of the ocean, to the top of the atmosphere, and beyond it to the Moon. We will flourish only as long as we continue to extend that range, and although the potential range is not infinite, it is incredibly vast even by present standards. We will eventually extend our range to cover the whole of the solar system, and then we will head outward to the stars.
  </p>
</div>

<p>p</p>
<div class="scoped box-p">
  <p>About a dozen congressional staffers flew business class on a trip to China last summer and stayed at luxury hotels while touring the Great Wall and the Forbidden City and receiving a “briefing on ancient artifacts and dynasties” at the Shanghai Museum.</p>

  <p>The all-expenses-paid visit came courtesy of China. The Chinese government hosted a day of meetings with officials in Beijing followed by eight days packed with outings to destinations often frequented by tourists along with a stop at a missile frigate and two others related to national security — the official theme of the trip.</p>

  <p>More and more foreign governments are sponsoring such excursions for lawmakers and their staffs, though an overhaul of ethics rules adopted by Congress five years ago banned them from going on most other types of free trips. This overseas travel is often </p>

</div>

<div>
  
<p>p.lede</p>
<div class="scoped">
  <p class="lede">
    Joe Gould is a jaunty and emaciated little man who has been a notable in the cafeterias, diners, barrooms and dumps of Greenwich Village for a quarter of a century. He sometimes brags rather wryly that he is the last of the bohemians. “All the others fell by the wayside,” he says. “Some are in the grave, some are in the loony bin, and some are in the advertising business.”
  </p>
</div>


<p>.dropcap</p>
<div class="scoped">
  <p>
    <span class="dropcap">J</span>oe Gould is a jaunty and emaciated little man who has been a notable in the cafeterias, diners, barrooms and dumps of Greenwich Village for a quarter of a century. He sometimes brags rather wryly that he is the last of the bohemians. “All the others fell by the wayside,” he says. “Some are in the grave, some are in the loony bin, and some are in the advertising business.”
  </p>
</div>

  
<p>p.section-start</p>

<div class="scoped box-section-start">
  <p>
    “the Oral History has been my rope and my scaffold, my bed and my board, my wife and my floozy, my would and the salt on it, my whiskey and my aspirin, and my rock and my salvation. It is the only thing that matters a damn to me. All else is dross.”
  </p>
  <p class="section-start">
    Gould says that he rarely has more than a dollar at any one time, and that he doesn’t particularly care. “As a rule,” he says, “I despise money.” However, there is a widely held belief in the Village that he is rich and that he receives an income from inherited property in New England. “Only an old millionaire could afford to go around as shabby as you,” a bartender told him recently.
  </p>
</div>

  
<p>b.section-start</p>
<div class="scoped box-section-start">
  <p>
    “the Oral History has been my rope and my scaffold, my bed and my board, my wife and my floozy, my would and the salt on it, my whiskey and my aspirin, and my rock and my salvation. It is the only thing that matters a damn to me. All else is dross.”
  </p>
  <p class="section-start">
    <b class="section-start">Gould says that he rarely has</b> more than a dollar at any one time, and that he doesn’t particularly care. “As a rule,” he says, “I despise money.”  However, there is a widely held belief in the Village that he is rich and that he receives an income from inherited property in New England. “Only an old millionaire could afford to go around as shabby as you,” a bartender told him recently.
  </p>
</div>

<p>aside.editors-note</p>

<div class="scoped">
  <p class="editors-note">
    Editor’s Note: You should not use anonymous sources or change the names of characters in your story. Only grant anonymity if there’s no one else who could give you the same information or perspective and there’s a compelling reason that your source does not want to be identified, such as fear of retribution.
  </p>
</div>

<p>aside.pullquote</p>
<div class="scoped">
  <aside class="pullquote">
    News is what someone wants suppressed. Everything else is advertising.
  </aside>
</div>

<p>aside.pullquote .attribution</p>
<div class="scoped">
  <aside class="pullquote">
    <p>News is what someone wants suppressed. Everything else is advertising.</p>
    <p class=attribution>Katherine Graham</p>
  </aside>
</div>


<p>h2.subhed</p>
<div class="scoped box-subhed">
  <p>
    “Lots of things are allowed on these foreign trips that are not allowed on any other kind of trip,” said Jock Friedly, the founder of LegiStorm, a congressional-transparency Web site. “It’s clear that the countries on the other end get a lot out of this.”
  </p>

  <h2 class="subhed">
    Follow the rules
  </h2>

  <p>
    The trips highlight inconsistencies in tough ethics rules Congress set for itself. Although registered foreign lobbyists can’t buy a $2 cup of coffee for a congressional staffer in Washington, they are allowed to invite, plan and accompany a staffer on a trip costing $10,000 or more. Nor is there any requirement about how much time is spent on work related to Congress.
  </p>
</div>


<p>aside.sidebar</p>
<div class=scoped>
  <aside class=sidebar>
    <h2>Why all the funny names?</h2>
    <p>Codex honors a delightful tradition of purposely misspelling words when you can get away with it (i.e. when your readers will never see them). It may seem confusing at first, but then again, “hed” is easier to type than “headline” because keystrokes. Enjoy.</p>
  </aside>
</div>


<p>blockquote</p>
<div class=scoped>
  <blockquote>
    <p>And God said, Let there be light: and there was light. And God saw the light, that it was good: and God divided the light from the darkness. And God called the light Day, and the darkness he called Night. And the evening and the morning were the first day.</p>
  </blockquote>
</div>

<p>figcaption</p>

<div class="scoped box-figcaption">
  <figure>
    <img draggable="false" src="https://usercontent.codex.press/images/e1fcdc81-2ac5-4787-ba87-eea967fabe6b/medium.jpg?1461448538">
    <figcaption>
      This photo was shot at 12,000 feet above sea level.
    </figcaption>
  </figure>
</div>


<p>.photo-credit</p>

<div class="scoped box-figcaption">

  <figure>
    <div class=frame>
      <img draggable="false" src="https://usercontent.codex.press/images/e1fcdc81-2ac5-4787-ba87-eea967fabe6b/medium.jpg?1461448538">
      <figcaption class="photo-credit bottom right">Tim Farnam</figcaption>
    </div>
    <figcaption class="photo-credit">
      Tim Farnam
    </figcaption>
  </figure>

</div>

<p>a</p>

<div class="scoped">
  <p>The value of a network is the square of the number of nodes, according to <a class=not-visited href="https://en.wikipedia.org/wiki/Metcalfe%27s_law">Metcalfe’s law</a>. Although some believe this to be overstated.</p>
</div>

<p>a:visited</p>
<div class="scoped">
  <p>The value of a network is the square of the number of nodes, according to <a href="https://en.wikipedia.org/wiki/Metcalfe%27s_law" class="visited">Metcalfe’s law</a>. Although some believe this to be overstated.</p>
</div>

<p>abbr.small</p>
<div class="scoped">
  <p>The <abbr class="small">CIA</abbr> is largely prohibited from acting inside U.S. territory while the <abbr class="small">FBI</abbr> operates both domestically and internationally.</p>
</div>


<p>code</p>

<div class="scoped">
  <p>
    Computer code is marked up with the <code>&lt;code&gt;</code> element which typically applies a monospace font.
  </p>
</div>

