ul.button-styles {
  display: inline-flex;
  flex-wrap: flex;
  list-style: none;
}

ul.button-styles > li {
  display: flex;
  margin: 0 .5em;
  padding: .7em;
  line-height: .8em;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: gray;
  color: white;
  border-radius: 5%;
  cursor: pointer;
}